body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#canvas {
  display: block;
}
.fixed-btn {
  position: fixed;
  bottom: 20px; /* cách đáy màn hình 20px */
  left: 50%;
  transform: translateX(-50%); /* căn giữa ngang */
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000; /* luôn nằm trên các phần tử khác */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: 0.3s;
}
#startOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.start-text {
  padding: 12px 28px;
  font-size: 18px;
  background-color: #ff0055;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: 0.3s;
}

.start-text:hover {
  background-color: #ff3388;
  transform: scale(1.05);
}


.fixed-btn:hover {
  background-color: #ff3388;
}

#bear {
  position: absolute;
  left: 10px;
  bottom: 50px;
  width: 110px;
  z-index: 10;
  transition: filter 0.2s ease, transform 0.2s ease;
}

#bear:hover {
  width: 112px;
  transform: scale(1.2);
  cursor: pointer;
}

#rotateNotice .overlay {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  text-align: center;
  padding: 20px;
}
